<section id="main">
  <h1><a href="/"><img src="/images/eleicoes-2010.png" alt="Eleições 2010" /></a></h1>
  <%= outros_cargos(@resultado['cargo']) %>
	<h2><%= mostra_cargo %></h2>
	<p class="turno"><%= @resultado['turno']%>° Turno</p>

  <table id="resultado">
<% @eleitos.each_with_index do |candidato, index| %>
  	<tr class="eleito posicao_<%= index %>">
  		<td class="percent veja"><%= candidato['percent'] %>%</td>
  		<td class="nome veja"><%= candidato['nome'].nome_proprio %> - <%= candidato['numeroCandidato'] %></td>
  		<td class="partido"><%= candidato['partido'] %></td>
  		<td class="votos"><%= candidato['totalVotos'] %> votos</td>
  		<td class="situacao">&nbsp;</td>
  	</tr>
<% end %>
<% @n_eleitos.each_with_index do |candidato, index| %>
	<tr class="n_eleito posicao_<%= index %>">
		<td class="percent veja"><%= candidato['percent'] %>%</td>
		<td class="nome veja"><%= candidato['nome'].nome_proprio %> - <%= candidato['numeroCandidato'] %></td>
		<td class="partido"><%= candidato['partido'] %></td>
		<td class="votos"><%= candidato['totalVotos'] %> votos</td>
		<td class="situacao">&nbsp;</td>
	</tr>
<% end %>
</table>
</section>

<aside id="stat">
  <h3><img src="/images/estatisticas.png" alt="Estatísticas" /></h3>
  <img src="<%= @graph_apuracao.gsub(/chl/, 'chdl') %>&chco=80C65A|FFFF88" alt="Andamento da Apuração" />
  <table class="stats">
    <tr><th>Eleitorado:</th><td><%= @total_eleitorado %></td></tr>
    <tr><th>Apurados:</th><td><%= @abrangencia['eleitoradoApurado'] %> (<%= @eleitorado_perc_a.to_s %>%)</td></tr>
    <tr><th>Não apurados:</th><td><%= @abrangencia['eleitoradoNaoApurado'] %> (<%= @eleitorado_perc_n.to_s %>%)</td></tr>
  </table>

  <img src="<%= @graph_votos.gsub(/chl/, 'chdl') %>&chco=FFCC33|224499|80C65A|FFFF88|76A4FB" alt="Votos apurados" />
  <table class="stats">
    <tr><th>Abstenção:</th><td><%= @abrangencia['abstencao'] %> (<%= @apurado_perc_a.to_s %>%)</td></tr>
    <tr><th>Votos em branco:</th><td><%= @abrangencia['votosEmBranco'] %> (<%= @votos_perc_b.to_s %>%)</td></tr>
    <tr><th>Votos nulos:</th><td><%= @abrangencia['votosNulos'] %> (<%= @votos_perc_n.to_s %>%)</td></tr>
    <tr><th>Votos pendentes:</th><td><%= @abrangencia['votosPendentes'] %> (<%= @votos_perc_p.to_s %>%)</td></tr>
    <tr><th>Votos válidos:</th><td><%= @abrangencia['votosValidos'] %> (<%= @votos_perc_v.to_s %>%)</td></tr>
  </table>
</aside>
